@model PaginateVm<MealItemVm>
@{
    int count = 1;
}


<div class="col-xl-12">
    <div class="card custom-card">
        <div class="card-header justify-content-between">
            <div class="card-title">
                Meals
            </div>
            <div class="prism-toggle">
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table text-nowrap">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">Count</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Details</th>
                            <th scope="col">Soft Delete</th>
                            <th><a asp-action="Arxiv" asp-controller="Meal" class="btn btn-success"><i class="fa fa-address-book"></i></a></th>
                            <th><a asp-action="UnConfirments" asp-controller="Meal" class="btn btn-success"><i class="fas fa-file-archive"></i></a></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@(count++)</td>
                                <td>
                                    <div class="thumb_strip">
                                        <img style="width:50px; height:50px" src="~/assets/img/mealImages/@item.Image" alt="">
                                    </div>
                                </td>
                                <td scope="row">@item.Name</td>
                                <td>@item.Price</td>
                                <td><a asp-action="Detail" asp-controller="Meal" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-info"></i></a></td>
                                <td><a asp-action="SoftDelete" asp-controller="Meal" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-backspace "></i></a></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item @(Model.CurrentPage<=1? "disabled":"")"><a class="page-link" class="page-link" asp-route-page="@(Model.CurrentPage-1)" asp-action="index" asp-controller="Meal">Previous</a></li>
                @for (int i = 0; i < Model.TotalPage; i++)
                {
                    <li class="page-item @(Model.CurrentPage-1==i? "disabled":"")">
                        <a class="page-link" asp-route-page="@(i+1)" asp-action="index" asp-controller="Meal">
                            @(i + 1
                                )
                        </a>
                    </li>

                }

                <li class="page-item @(Model.TotalPage<=Model.CurrentPage? "disabled":"")"><a class="page-link" class="page-link" asp-route-page="@(Model.CurrentPage+1)" asp-action="index" asp-controller="Meal">Next</a></li>
            </ul>
        </nav>
    </div>
</div>