@model ICollection<MealItemVm>
@{
    int count = 1;
}


<div class="col-xl-12">
    <div class="card custom-card">
        <div class="card-header justify-content-between">
            <div class="card-title">
                Arxiv
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table text-nowrap">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">Count</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Submit</th>
                            <th scope="col">Details</th>
                            <th scope="col">Cancel</th>
                            <th><a asp-action="Index" asp-controller="Meal" class="btn btn-success"><i class="fa fa-address-book"></i></a></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(count++)</td>
                                <td>
                                    <div class="thumb_strip">
                                        <img style="width:50px; height:50px" src="~/assets/img/mealImages/@item.Image" alt="">
                                    </div>
                                </td>
                                <td scope="row">@item.Name</td>
                                <td>@item.Price</td>
                                <td><a asp-action="Sumbit" asp-controller="Meal" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-check"></i></a></td>
                                <td><a asp-action="Detail" asp-controller="Meal" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-info"></i></a></td>
                                <td><a asp-action="Cancel" asp-controller="Meal" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-times"></i></a></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>