@model AboutVm

<section class="parallax-window" data-parallax="scroll" data-image-src="img/sub_header_2.jpg" data-natural-width="1400" data-natural-height="470">
    <div id="subheader">
        <div id="sub_content">
            <div id="thumb"><img src="img/thumb_restaurant.jpg" alt=""></div>
            <div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> ( <small><a href="#0">98 reviews</a></small> )</div>
            <h1>Mexican TacoMex</h1>
            <div><em>Mexican / American</em></div>
            <div><i class="icon_pin"></i> 135 Newtownards Road, Belfast, BT4 1AB - <strong>Delivery charge:</strong> $10, free over $15.</div>
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->


<div class="collapse" id="collapseMap">
    <div id="map" class="map"></div>
</div><!-- End Map -->
<!-- Content ================================================== -->
<div class="container margin_60_35">
    <div class="row">
        <div class="col-lg-4">
            <p>
                <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on map</a>
            </p>
            <div class="box_style_2">
                <h4 class="nomargin_top">Opening time <i class="icon_clock_alt float-right"></i></h4>
                <ul class="opening_list">
                    <li>Monday<span>12.00am-11.00pm</span></li>
                    <li>Tuesday<span>12.00am-11.00pm</span></li>
                    <li>Wednesday <span class="label label-danger">Closed</span></li>
                    <li>Thursday<span>12.00am-11.00pm</span></li>
                    <li>Friday<span>12.00am-11.00pm</span></li>
                    <li>Saturday<span>12.00am-11.00pm</span></li>
                    <li>Sunday <span class="label label-danger">Closed</span></li>
                </ul>
            </div>
            <div class="box_style_2 d-none d-sm-block" id="help">
                <i class="icon_lifesaver"></i>
                <h4>Need <span>Help?</span></h4>
                <a href="tel://@Model.Restaurant.Phone" class="phone">@Model.Restaurant.Phone</a>
                <small>@Model.Restaurant.OpeningTime</small>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="box_style_2">
                <h2 class="inner">Description</h2>
                <div id="Img_carousel" class="slider-pro">
                    <div class="sp-slides">
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif" data-src="img/slider_single_restaurant/1_medium.jpg" data-small="img/slider_single_restaurant/1_small.jpg" data-medium="img/slider_single_restaurant/1_medium.jpg" data-large="img/slider_single_restaurant/1_large.jpg" data-retina="img/slider_single_restaurant/1_large.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif" data-src="img/slider_single_restaurant/2_medium.jpg" data-small="img/slider_single_restaurant/2_small.jpg" data-medium="img/slider_single_restaurant/2_medium.jpg" data-large="img/slider_single_restaurant/2_large.jpg" data-retina="img/slider_single_restaurant/2_large.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif" data-src="img/slider_single_restaurant/3_medium.jpg" data-small="img/slider_single_restaurant/3_small.jpg" data-medium="img/slider_single_restaurant/3_medium.jpg" data-large="img/slider_single_restaurant/3_large.jpg" data-retina="img/slider_single_restaurant/3_large.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif" data-src="img/slider_single_restaurant/4_medium.jpg" data-small="img/slider_single_restaurant/4_small.jpg" data-medium="img/slider_single_restaurant/4_medium.jpg" data-large="img/slider_single_restaurant/4_large.jpg" data-retina="img/slider_single_restaurant/4_large.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif" data-src="img/slider_single_restaurant/5_medium.jpg" data-small="img/slider_single_restaurant/5_small.jpg" data-medium="img/slider_single_restaurant/5_medium.jpg" data-large="img/slider_single_restaurant/5_large.jpg" data-retina="img/slider_single_restaurant/5_large.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif" data-src="img/slider_single_restaurant/6_medium.jpg" data-small="img/slider_single_restaurant/6_small.jpg" data-medium="img/slider_single_restaurant/6_medium.jpg" data-large="img/slider_single_restaurant/6_large.jpg" data-retina="img/slider_single_restaurant/6_large.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif" data-src="img/slider_single_restaurant/7_medium.jpg" data-small="img/slider_single_restaurant/7_small.jpg" data-medium="img/slider_single_restaurant/7_medium.jpg" data-large="img/slider_single_restaurant/7_large.jpg" data-retina="img/slider_single_restaurant/7_large.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif" data-src="img/slider_single_restaurant/8_medium.jpg" data-small="img/slider_single_restaurant/8_small.jpg" data-medium="img/slider_single_restaurant/8_medium.jpg" data-large="img/slider_single_restaurant/8_large.jpg" data-retina="img/slider_single_restaurant/8_large.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif" data-src="img/slider_single_restaurant/9_medium.jpg" data-small="img/slider_single_restaurant/9_small.jpg" data-medium="img/slider_single_restaurant/9_medium.jpg" data-large="img/slider_single_restaurant/9_large.jpg" data-retina="img/slider_single_restaurant/9_large.jpg">
                        </div>
                    </div>
                    <div class="sp-thumbnails">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/1_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/2_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/3_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/4_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/5_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/6_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/7_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/8_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/9_medium.jpg">
                    </div>
                </div>
                <h3>About us</h3>
                <p>
                    @Model.Restaurant.Address
                </p>
                <p class="add_bottom_30">
                    @Model.Restaurant.Name
                </p>
                <div id="summary_review">

                    @await Html.PartialAsync("_CreateReview",new ReviewCreateVm{RestaurantId=Model.Restaurant.Id,Description=null,Quality=0})
                </div><!-- End summary_review -->
                @foreach (var item in Model.Restaurant.Reviews)
                {
                    <div class="review_strip_single">
                        <img src="img/avatar1.jpg" alt="" class="rounded-circle">
                        <small> - 10 March 2015 -</small>
                        <h4>Jhon Doe</h4>
                        <p>
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus."
                        </p>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="rating" id="rating_@item.Id">
                                    <!-- Unikal kimlik için yorumun Id'si kullanılıyor -->
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>
                                Food Quality
                            </div>
                        </div>
                    </div>

                    <!-- End row -->
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            const quality = @item.Quality; // Yorumun quality özelliğini alıyoruz
                            const stars = document.querySelectorAll('#rating_@item.Id .icon_star'); // Yorumun benzersiz kimliğini kullanıyoruz

                            for (let i = 1; i <= quality; i++) { // Döngüyü 1'den başlat
                                stars[i - 1].classList.add('voted'); // Dizideki konumu doğru ayarlamak için 1 çıkarın
                            }
                        });
                    </script>
                    <!-- End review strip -->
                }


                    </div>
            </div><!-- End box_style_1 -->
        </div>
    </div><!-- End row -->
