@model AboutVm
@{
    var starRating = 0;
    var averageQuality = 0;
    var reviewCount = 0;
    if (Model.Restaurant.ReviewVithPagination != null)
    {
    var qualityTotal = 0;
    reviewCount = Model.Restaurant.ReviewVithPagination.Items.Count;
    foreach (var review in Model.Restaurant.ReviewVithPagination.Items)
    {
        qualityTotal += review.Quality;
    }
    averageQuality = reviewCount > 0 ? qualityTotal / reviewCount : 0;

    // Ortalama kaliteye göre yıldızları oluştur
    starRating = averageQuality;

    // Yıldızları oluştururken yıldız sayısını 5 ile sınırlandır
    starRating = Math.Max(Math.Min(starRating, 5), 0);
        
    }
    // Kalite değerlerinin toplamını ve ortalama değerini hesapla
}
<section class="parallax-window" data-parallax="scroll" data-image-src="/assets/img/sub_header_2.jpg" data-natural-width="1400" data-natural-height="470">
    <div id="subheader">
        <div id="sub_content">
            <div id="thumb"><img src="~/assets/img/restaurantImages/@Model.Restaurant.Image" alt=""></div>
            <div class="rating">
                @for (int i = 0; i < starRating; i++)
                {
                    <i class="icon_star voted"></i>
                }
                @for (int i = 0; i < 5 - starRating; i++)
                {
                    <i class="icon_star"></i>
                }
                (<small><a href="#0">@reviewCount</a></small>)
            </div>
            <h1>@Model.Restaurant.Name</h1>
            <div><em>@Model.Restaurant.Category.Name</em></div>
            <div><i class="icon_pin"></i> @Model.Restaurant.Address </div>
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->


<div class="collapse" id="collapseMap">
    <div id="map" class="map"></div>
</div><!-- End Map -->
<!-- Content ================================================== -->
<div class="container margin_60_35">
    <div class="row">
        <div class="col-lg-4">
            <p>
                <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on map</a>
            </p>
            <div class="box_style_2">
                <h4 class="nomargin_top">Opening time <i class="icon_clock_alt float-right"></i></h4>
                <ul class="opening_list">
                    <li>Monday<span>12.00am-11.00pm</span></li>
                    <li>Tuesday<span>12.00am-11.00pm</span></li>
                    <li>Wednesday <span class="label label-danger">Closed</span></li>
                    <li>Thursday<span>12.00am-11.00pm</span></li>
                    <li>Friday<span>12.00am-11.00pm</span></li>
                    <li>Saturday<span>12.00am-11.00pm</span></li>
                    <li>Sunday <span class="label label-danger">Closed</span></li>
                </ul>
            </div>
            <div class="box_style_2 d-none d-sm-block" id="help">
                <i class="icon_lifesaver"></i>
                <h4>Need <span>Help?</span></h4>
                <a href="tel://@Model.Restaurant.Phone" class="phone">@Model.Restaurant.Phone</a>
                <small>@Model.Restaurant.OpeningTime</small>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="box_style_2">
                <h2 class="inner">Description</h2>
                <div id="Img_carousel" class="slider-pro">
                    <div class="sp-slides">
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif" data-src="img/slider_single_restaurant/1_medium.jpg" data-small="img/slider_single_restaurant/1_small.jpg" data-medium="img/slider_single_restaurant/1_medium.jpg" data-large="img/slider_single_restaurant/1_large.jpg" data-retina="img/slider_single_restaurant/1_large.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif" data-src="img/slider_single_restaurant/2_medium.jpg" data-small="img/slider_single_restaurant/2_small.jpg" data-medium="img/slider_single_restaurant/2_medium.jpg" data-large="img/slider_single_restaurant/2_large.jpg" data-retina="img/slider_single_restaurant/2_large.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif" data-src="img/slider_single_restaurant/3_medium.jpg" data-small="img/slider_single_restaurant/3_small.jpg" data-medium="img/slider_single_restaurant/3_medium.jpg" data-large="img/slider_single_restaurant/3_large.jpg" data-retina="img/slider_single_restaurant/3_large.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif" data-src="img/slider_single_restaurant/4_medium.jpg" data-small="img/slider_single_restaurant/4_small.jpg" data-medium="img/slider_single_restaurant/4_medium.jpg" data-large="img/slider_single_restaurant/4_large.jpg" data-retina="img/slider_single_restaurant/4_large.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif" data-src="img/slider_single_restaurant/5_medium.jpg" data-small="img/slider_single_restaurant/5_small.jpg" data-medium="img/slider_single_restaurant/5_medium.jpg" data-large="img/slider_single_restaurant/5_large.jpg" data-retina="img/slider_single_restaurant/5_large.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif" data-src="img/slider_single_restaurant/6_medium.jpg" data-small="img/slider_single_restaurant/6_small.jpg" data-medium="img/slider_single_restaurant/6_medium.jpg" data-large="img/slider_single_restaurant/6_large.jpg" data-retina="img/slider_single_restaurant/6_large.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif" data-src="img/slider_single_restaurant/7_medium.jpg" data-small="img/slider_single_restaurant/7_small.jpg" data-medium="img/slider_single_restaurant/7_medium.jpg" data-large="img/slider_single_restaurant/7_large.jpg" data-retina="img/slider_single_restaurant/7_large.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif" data-src="img/slider_single_restaurant/8_medium.jpg" data-small="img/slider_single_restaurant/8_small.jpg" data-medium="img/slider_single_restaurant/8_medium.jpg" data-large="img/slider_single_restaurant/8_large.jpg" data-retina="img/slider_single_restaurant/8_large.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif" data-src="img/slider_single_restaurant/9_medium.jpg" data-small="img/slider_single_restaurant/9_small.jpg" data-medium="img/slider_single_restaurant/9_medium.jpg" data-large="img/slider_single_restaurant/9_large.jpg" data-retina="img/slider_single_restaurant/9_large.jpg">
                        </div>
                    </div>
                    <div class="sp-thumbnails">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/1_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/2_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/3_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/4_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/5_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/6_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/7_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/8_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/9_medium.jpg">
                    </div>
                </div>
                <h3>About us</h3>
                <p>
                    @Model.Restaurant.Address
                </p>
                <p class="add_bottom_30">
                    @Model.Restaurant.Name
                </p>
                <div id="summary_review">

                    @await Html.PartialAsync("_CreateReview",new ReviewCreateVm{RestaurantId=Model.Restaurant.Id,Description=null,Quality=0})
                </div><!-- End summary_review -->
                @if (Model.Restaurant.Reviews!=null)
                {
                    
                @foreach (var item in Model.Restaurant.Reviews)
                {
                    <div class="review_strip_single">
                        <img src="~/assets/img/@item.AppUser.ProfileImage" alt="" style="height:90px;width:90px;border-radius:45px" class="rounded-circle">
                        <small> - @item.CreatedAt.ToString("dd/mm/yyyy") -</small>
                        <h4>@item.AppUser.Name @item.AppUser.Surname</h4>
                        <p>
                            @item.Description
                        </p>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="rating" id="rating_@item.Id">
                                    <!-- Unikal kimlik için yorumun Id'si kullanılıyor -->
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>
                                Food Quality
                            </div>
                        </div>
                    </div>

                    <!-- End row -->
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            const quality = @item.Quality; // Yorumun quality özelliğini alıyoruz
                            const stars = document.querySelectorAll('#rating_@item.Id .icon_star'); // Yorumun benzersiz kimliğini kullanıyoruz

                            for (let i = 1; i <= quality; i++) { // Döngüyü 1'den başlat
                                stars[i - 1].classList.add('voted'); // Dizideki konumu doğru ayarlamak için 1 çıkarın
                            }
                        });
                    </script>
                    <!-- End review strip -->
                }
                }


                    </div>
            </div><!-- End box_style_1 -->
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item @(Model.Restaurant.ReviewVithPagination?.CurrentPage<=1? "disabled":"")"><a class="page-link" class="page-link" asp-route-page="@(Model.Restaurant.ReviewVithPagination?.CurrentPage-1)" asp-action="About" asp-controller="Restaurant">Previous</a></li>
                @for (int i = 0; i < Model.Restaurant.ReviewVithPagination?.TotalPage; i++)
                {
                    <li class="page-item @(Model.Restaurant.ReviewVithPagination?.CurrentPage-1==i? "disabled":"")">
                        <a class="page-link" asp-route-page="@(i+1)" asp-action="About" asp-controller="Restaurant">
                            @(i + 1
                                )
                        </a>
                    </li>

                }

                <li class="page-item @(Model.Restaurant.ReviewVithPagination?.TotalPage<=Model.Restaurant.ReviewVithPagination?.CurrentPage? "disabled":"")"><a class="page-link" class="page-link" asp-route-page="@(Model.Restaurant.ReviewVithPagination?.CurrentPage+1)" asp-action="About" asp-controller="Restaurant">Next</a></li>
            </ul>
        </nav>
        </div>
    </div><!-- End row -->
