@model RestaurantAdminVm
@{
    int count = 1;
}

<head>
    <!-- SPECIFIC CSS -->
    <link href="~/assets/css/skins/square/grey.css" rel="stylesheet">
    <link href="~/assets/css/admin.css" rel="stylesheet">
    <link href="~/assets/js/editor/summernote-bs4.css" rel="stylesheet">
    <link href="~/assets/css/dropzone.css" rel="stylesheet">
    <title>Dönme Animasyonu</title>
    <!-- Font Awesome CSS dosyasını içeri aktar -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        /* İkonun dönme animasyonu için stil */
        .rotate {
            transition: transform 1s linear;
        }

            /* İkonun üzerine gelindiğinde dönme animasyonunu başlat */
            .rotate:hover {
                transform: rotate(360deg);
            }
    </style>
</head>



<!-- SubHeader =============================================== -->
<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="assets/img/restaurantImages/@Model.RestaurantItem.Image" data-natural-width="1400" data-natural-height="350">
    <div id="subheader">
        <div id="sub_content">
            <h1>Admin section</h1>
            <p>Qui debitis meliore ex, tollit debitis conclusionemque te eos.</p>
            <p></p>
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

<div id="position">
    <div class="container">
        <ul>
            <li>
                <a href="#0">Home</a>
            </li>
            <li>
                <a href="#0">Category</a>
            </li>
            <li>Page active</li>
        </ul>
        <a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Search</a>
    </div>
</div><!-- Position -->
<!-- Content ================================================== -->
<div class="container margin_60">
    <div id="tabs" class="tabs">
        <nav>
            <ul>
                <li>
                    <a  class="icon-profile"><span>Main info</span></a>
                </li>
                <li>
                    <a asp-action="CreateMeal" asp-controller="restaurantAdmin">Add Meal</a>
                </li>
                <li>
                    <a asp-action="UpdateYourRestaurant" asp-controller="restaurantAdmin" asp-route-id="@Model.RestaurantItem.Id">Update restaurant</></a>
                </li>
                <li>
                    <a asp-action="GetAllOrderItems" asp-controller="restaurantAdmin"><span>Get All Sales</span></a>
                </li>
            </ul>
        </nav>
        <br />

        
        <table class="table table-striped cart-list">
            <thead>
                <tr>
                    <th>
                        Item
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        status
                    </th>
                    <th>
                        update
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Meals)
                {
                    <tr>
                        <td>
                            <figure class="thumb_menu_list"><img src="~/assets/img/mealImages/@item.Image" alt="thumb"></figure>
                            <h5>@(count++). @item.Name</h5>
                            <p>
                                @item.Description
                            </p>
                        </td>
                        <td>
                            <strong>€ @item.Price</strong>
                        </td>
                        <td>
                            @if (item.IsDeleted == false)
                            {
                                <p>Confirment</p>
                            }
                            else
                            {
                                <p>Observation</p>
                            }
                        </td>
                        @if (item.IsDeleted == false)
                        {
                            <td class="options">
                                <div class="dropdown dropdown-options">
                                    <a asp-action="UpdateMeal" asp-controller="RestaurantAdmin" asp-route-id="@item.Id" class="dropdown-toggle"><i class="fas fa-sync rotate" id="rotate-icon" onclick="startRotation()"></i></a>
                                </div>
                            </td>
                        }            
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div><!-- End container  -->
