@model ICollection<SettingItemVm>
@{
    int count = 1;
}


<div class="col-xl-12">
    <div class="card custom-card">
        <div class="card-header justify-content-between">
            <div class="card-title">
                Food Categoryies
            </div>
            <div class="prism-toggle">
                <a asp-action="Create" asp-controller="Setting" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table text-nowrap">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">Count</th>
                            <th scope="col">Key</th>
                            <th scope="col">Value</th>
                            <th scope="col">Update</th>
                            <th scope="col">Soft Delete</th>
                            <th><a asp-action="Arxiv" asp-controller="Service" class="btn btn-success"><i class="fa fa-address-book"></i></a></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(count++)</td>
                                <td scope="row">@item.Key</td>
                                <td scope="row">@item.Value</td>
                                <td><a asp-action="Update" asp-controller="Setting" asp-route-id="@item.Id" class="btn btn-warning"><i class="far fa-edit"></i></a></td>
                                <td><a asp-action="SoftDelete" asp-controller="Setting" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-backspace "></i></a></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>