@using QuickFoodDelivery.Domain.Enums;
@model RegisterVm

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RegistrationForm_v3 by Colorlib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/identity/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/identity/css/style.css">
</head>

<body>

    <div class="wrapper" style="background-image: url('/identity/images/bg-registration-form-3.jpg');">

        <div class="inner">
            <form action="" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <h3>Registration Form</h3>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label asp-for="Name">Name:</label>
                        <div class="form-holder">
                            <input asp-for="Name" class="form-control" placeholder="Name">
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <label asp-for="Surname">Surname:</label>
                        <div class="form-holder">
                            <input asp-for="Surname" class="form-control" placeholder="Surname">
                            <span asp-validation-for="Surname"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label asp-for="Email">Email:</label>
                        <div class="form-holder">
                            <input asp-for="Email" class="form-control" placeholder="Email">
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <label asp-for="UserName">UserName:</label>
                        <div class="form-holder">
                            <input asp-for="UserName" class="form-control" placeholder="UserName">
                            <span asp-validation-for="UserName"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label asp-for="Password">Password:</label>
                        <div class="form-holder">
                            <input asp-for="Password" class="form-control" placeholder="Password">
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <label asp-for="ComfirmPassWord">ComfirmPassWord:</label>
                        <div class="form-holder">
                            <input asp-for="ComfirmPassWord" class="form-control" placeholder="ComfirmPassWord">
                            <span asp-validation-for="ComfirmPassWord"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label asp-for="BirthDate">BirthDate:</label>
                        <div class="form-holder">
                            <input asp-for="BirthDate" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-dd")" required placeholder="BirthDate">
                            <span asp-validation-for="BirthDate"></span>
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <label asp-for="ProfileImage">ProfileImage:</label>
                        <div class="form-holder">
                            <input asp-for="ProfileImage" class="form-control" placeholder="ProfileImage">
                            <span asp-validation-for="ProfileImage"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label asp-for="Gender">Gender:</label>
                        <div class="">
                            @foreach (var item in Html.GetEnumSelectList<Genders>())
                            {
                                <div class="form-check mb-3">
                                    <input asp-for="Gender" id="@item.Value" class="form-check-input" type="radio" value="@item.Value" />
                                    <label asp-for="Gender" class="form-check-label" for="@item.Value">@item.Text</label>
                                </div>


                            }
                        </div>
                    </div>
                </div>
                <div class="form-end">
                    <div class="button-holder">
                        <button>Register Now</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
