@model ICollection<CategoryItemVm>
@{
    int count = 1;
}


<div class="col-xl-6">
    <div class="card custom-card">
        <div class="card-header justify-content-between">
            <div class="card-title">
                Archive
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table text-nowrap">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">Count</th>
                            <th scope="col">Name</th>
                            <th scope="col">Reverse Delete</th>
                            <th scope="col">Delete</th>
                            <th><a asp-action="Index" asp-controller="Category" class="btn btn-success"><i class="far fa-address-book"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(count++)</td>
                                <td scope="row">@item.Name</td>

                                <td><a asp-action="ReverseDelete" asp-controller="Category" asp-route-id="@item.Id" class="btn btn-info "><i class="fas fa-history"></i></a></td>
                                <td><a asp-action="Delete" asp-controller="Category" asp-route-id="@item.Id" class="btn btn-danger @(item.Restaurants.FirstOrDefault()!=null? "hidden":"")"><i class="fas fa-trash-alt"></i></a></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>